@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3"><b>VeeFit</b></MudText>
        <MudSpacer />
    </MudAppBar>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
    <!-- Bottom Menu-->
    <MudPaper Class="mud-width-full" Elevation="2" id="BottomNavigationPanel">
       
        <!--Home Button-->
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Primary"></MudIconButton>
        <!--ADD Post Button-->
        <MudButton Style="border-radius: 50px; padding-left: 24px; padding-right: 24px;" Color="Color.Primary" Variant="Variant.Filled">
            Add Post
        </MudButton>

        <!--User Settings -->
        <MudMenu Icon="@Icons.Material.Filled.Person" Label="Settings" Color="Color.Primary">
            <!-- Dark/Light Theme Toggle -->
            <MudMenuItem OnClick="@DarkModeToggle" Style="justify-content: flex-start;">
                <span style="display: inline-flex; align-items: center-left; gap: 8px;">
                    <MudIcon Icon="@DarkLightModeButtonIcon" Color="Color.Primary" />
                    <MudText>@GetThemeText()</MudText>
                </span>
            </MudMenuItem>

            <!-- Color Change Submenu -->
            <MudMenuItem Style="justify-content: flex-start; padding: 0;">
                <MudMenu OffsetY="true">
                    <ActivatorContent>
                        <MudButton Color="Color.Inherit" Style="justify-content: flex-start; width: 100%;">
                            <span style="display: inline-flex; align-items: center-left; gap: 8px;">
                                <MudIcon Icon="@Icons.Material.Filled.Palette" Color="Color.Primary" />
                                <MudText Class="ml-2">Color Change</MudText>
                            </span>
                        </MudButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem OnClick="() => SwitchThemes(0)" Style="justify-content: flex-start;">
                            <span style="display: inline-flex; align-items: center-left; gap: 8px;">
                                <MudIcon Icon="@Icons.Material.Filled.Square" Style="color: #2196f3;" />
                                <MudText Class="ml-2">VeeFit Blue</MudText>
                            </span>
                        </MudMenuItem>
                        <MudMenuItem OnClick="() => SwitchThemes(1)" Style="justify-content: flex-start;">
                            <span style="display: inline-flex; align-items: center-left; gap: 8px;">
                                <MudIcon Icon="@Icons.Material.Filled.Square" Style="color: #9c27b0;" />
                                <MudText Class="ml-2">Purple Fusion</MudText>
                            </span>
                        </MudMenuItem>
                        <MudMenuItem OnClick="() => SwitchThemes(2)" Style="justify-content: flex-start;">
                            <span style="display: inline-flex; align-items: center-left; gap: 8px;">
                                <MudIcon Icon="@Icons.Material.Filled.Square" Style="color: coral;" />
                                <MudText Class="ml-2">Coral Energy</MudText>
                            </span>
                        </MudMenuItem>
                        <MudMenuItem OnClick="() => SwitchThemes(3)" Style="justify-content: flex-start;">
                            <span style="display: inline-flex; align-items: center-left; gap: 8px;">
                                <MudIcon Icon="@Icons.Material.Filled.Square" Style="color: limegreen;" />
                                <MudText Class="ml-2">Green Vitality</MudText>
                            </span>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
        </MudMenu>
    </MudPaper>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SwitchThemes(0);
    }
    //Switching between themes!
    private void SwitchThemes(int Color)
    {
        _theme = new()
            {
                PaletteLight = Core.Extensions.GUI.Themes.LightTheme(Color),
                PaletteDark = Core.Extensions.GUI.Themes.DarkTheme(Color),
                LayoutProperties = new LayoutProperties()
            };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    private string GetThemeText()
    {
        return !_isDarkMode ? "Dark Mode" : "Light Mode";
    }
    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.LightMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}


